#comments {
  padding: 0 35px;
}
.v .vinput {
  color: #fff!important;
}
.v .vinfo .vcount {
  color: #fff;
}
.v .vinfo .vcount .vnum {
  color: #fff;
}
.v .vtext .vinput {
  color: #313131!important;
}
.v .vlist .vcard .vcontent p {
  color: #aaa!important;
}
.v .vlist .vcard .vhead .vsys {
  background: #55556c!important;
}